
@font-face {
  font-display: swap;
  font-family: "MuseoSansCyrl";
  src: url(../public/font/museo_sans_cyrl_300.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "MuseoSansCyrl";
  src: url(../public/font/museo_sans_cyrl_500.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "MuseoSansCyrl";
  src: url(../public/font/museo_sans_cyrl_700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

                        
@tailwind base;
@tailwind components;
@tailwind utilities;


.filter-svg {
  filter: invert(35%) sepia(79%) saturate(0%) hue-rotate(86deg) brightness(118%)
    contrast(119%);
}

a:hover .filter-svg {
  filter: invert(100%) sepia(79%) saturate(0%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}
.filter-footer-svg {
  filter: invert(92%) sepia(7%) saturate(6%) hue-rotate(180deg) brightness(93%)
    contrast(88%);
}

a:hover .filter-footer-svg {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg)
    brightness(100%) contrast(100%);
}

.parallelogram {
  transform: skew(-20deg);
}

.noparallelogram {
  transform: skew(20deg);
}

.submenu {
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  opacity: 0;
  z-index: -1;
  overflow: hidden;

  left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.submenu-open {
  height: auto;
  opacity: 1;
  z-index: 50;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.slider-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slide {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  opacity: 1;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-container:hover .arrow-icon {
  transform: rotate(180deg);
}
.ymaps-2-1-79-ground-pane {
  filter: grayscale(100%);
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-copyrights-pane {
  display: none;
}
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #EA9635;
  border-radius: 6px;
}

html::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 8px;
}

.custom-list {
  list-style: none;
  position: relative;
  padding-left: 20px; 
}

.custom-list li {
  position: relative;
  padding-left: 20px;
}

.custom-list li::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  left: 0;
  top: 7px;
  background: #ea9635;
  transform: skewX(-25deg);
}

.employee-photo-container {
  position: relative;
  z-index: 1;
}

.employee-photo-container img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.employee-details {
  margin-top: 240px; 
  background-color: #f0f0f0;
  position: relative;

}
